.btnSalvar {
  border: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.colunanome {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.colunastatus {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.colunadata {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.colunaid {
  max-width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-sm {
  margin: auto 0;
}

.modal {
  width: 50%;
  height: 70%;
}

.container-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: auto;
}

.box {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
